@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://storge.pic2.me/upload/667/617e93bb670021.62450843.jpg);
    height: 100vh;
    display: flex;
    justify-content: center;  
    /*отцентровал от края */
    align-items: center;
    /*отцентровал от верха */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h2 {
    font-family: 'Comfortaa', cursive;
    /* color: rgb(255, 255, 255); */
}

.butn {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    padding: .5rem 1rem;
    font-size: 1.5rem;
}

.butn:hover {
    border: 2px solid #1c1c1d;
    color: #1c1c1d;
    transition: all 0.275s ease-in;
}